# dependencies
node_modules/

# testing
coverage/

# next.js
.next/
out/
build/
dist/

# os
.DS_Store
Thumbs.db

# debug
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# ide
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.vercel
